* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  justify-content: center;
  display: flex;
}

.container {
  justify-content: space-between;
  border: 2px solid blue;
  flex-direction: column;
  display: flex;
  width: 500px;
  height: 550px;
}

.board {
  justify-content: space-around;
  border: 2px solid green;
  align-content: center;
  flex-wrap: wrap;
  display: flex;
  height: 82%;
}

.image {
  border-radius: 10%;
  height: 100%;
  width: 100%;
}

.controls {
  justify-content: space-around;
  border: 2px solid red;
  display: flex;
  height: 18%;
}

/* FLIPPING STYLES */

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  height: 100px;
  width: 100px;
  margin: 1%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  transform-style: preserve-3d;
  transition: transform 0.8s;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10%;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: darkolivegreen;
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
